* {
    box-sizing: border-box;
}

.navigation {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    align-items: baseline;
}

.links {
    display: flex;
    list-style: none;
    gap: 1em;
}

body {
    padding-left: 150px;
    padding-right: 150px;
}

.hero {
    display: flex;
    justify-content: center;
    flex: 1;
}

.small-image img {
    width: 200px;
    height: 200px;
}

.hero .main-image img {
    width: 550px;
    height: 350px;
}